/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* 
.button{
	-fx-padding: 5 8 8 8;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 5;
    -fx-background-color: 
        linear-gradient(from 0% 50% to 0% 50%, #a34313 0%, #903b12 50%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em; 
}*/
.button{
	-fx-background-radius: 50;
	-fx-padding: 5 8 8 8;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: #9d4024, radial-gradient(center 50% 50%, radius 100%, #ffffff, #ffffff);
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.90) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#myLabel{
	-fx-text-fill: #ff0000;
	-fx-font-size: 20;
	-fx-allignment: center;
	-fx-font-weight: bold;
}
#myAnchor{
	-fx-background-image: url("dino.jpg");
}
#myVbox{
	-fx-background-color: #e6ffff;
	-fx-background-radius: 20;
}
#pane{
	-fx-background-color: #e6ffff;
	-fx-background-radius: 20;
}
#MainPane{
	-fx-background-color: #ffffff;
	-fx-background-radius: 20;
	-fx-border-style: solid;
	-fx-border-radius: 20;
	-fx-border-color: #e6ffff;
	-fx-border-width: 5px;
}