/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button{
	-fx-background-radius: 50;
	-fx-padding: 5 8 8 8;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: #9d4024, radial-gradient(center 50% 50%, radius 100%, #ffffff, #ffffff);
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.90) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#myLabel{
	-fx-text-fill: #ff0000;
	-fx-font-size: 20;
	-fx-allignment: center;
	-fx-font-weight: bold;
}
#myAnchor{
	-fx-background-image: url("/application/dino.jpg");
}
#myVbox{
	-fx-background-color: #e6ffff;
	-fx-background-radius: 20;
}
#pane{
	-fx-background-color: #e6ffff;
	-fx-background-radius: 20;
}
#MainPane{
	-fx-background-color: #e6ffff;/*#ccffff;*/
	-fx-background-radius: 20;
	-fx-border-style: solid;
	-fx-border-radius: 20;
	-fx-border-color: #4dffff;
	-fx-border-width: 5px;
}